{% extends 'base.html' %}

{% block title %}
    Profile: {{ username }}
{% endblock %}

{% block content_title %}

{% endblock %}

{% block seo %}
    <meta name="description" content="profile {{ first_name }} {{ second_name }}">
    <meta name="keywords" content="{{ first_name }} {{ second_name }}">
{% endblock %}

{% block content %}
    <div class="user_info">
        <h1 style="display: inline-flex;">{{ first_name }} {{ second_name }}
            <form id="username_form" method="POST" action="{{ url_for('message.message_index') }}">
                <input type="hidden" name="username" value="{{ username }}" />
                <a onclick="event.preventDefault();
                    document.getElementById('username_form').submit();"
                    class="fas fa-comment-dots"
                    style="font-size: 30px; margin-left: 10px; color: #d5d1ca; text-decoration: none;"
                    
                    title="Open chat">
                </a>
            </form>
        </h1>
	</div>
	<hr>
    <div class="user_container">
		<div class="user_posts">
			<div class='post-main-container'>
                {% if pages.items|length > 0 %}
                    {% for post in pages.items %}
                        <div 
                            {% if post.visible %}
                                class='post_container'
                            {% else %}
                                class='post_container draft'
                            {% endif %}
                        >
                            <div class='post_paragraph'>
                                <a class='post_title' href="{{ url_for('posts.post_content', id=post.id) }}"> {{ post.title }} </a>
                                <div class="posts-index">
                                    {{ post.preview|truncate(225, True) }}
                                </div>
                                <div class='post_meta_detail'>
                                    <div style='margin-right: auto;'>
                                        <!-- <i class="fas fa-user"></i>
                                        <a style="color: grey;" href="{{ url_for('user_profile.get_user_data', slug=session['username'] or 'anonymous')}}">
                                        {{ post.author }}
                                        </a> -->
                                        <a style="color: grey;" href="{{ url_for('posts.post_content', id=post.id, _anchor='comments') }}">
                                            <i class="fas fa-comments"></i>
                                            {{ post.comments|length }}
                                        </a>
                                    </div>
                                    <div style="margin-left: auto;">
                                        <i class="fas fa-clock"></i>
                                        {{ post.created_to_str() }}
                                    </div>
                                </div>
                            </div>
                        </div>   
                    {% endfor %}
            </div>
                {% else %}
                {% if not username==session['username'] %}
                    <img src="/static/img/animation_500_khwngevr.gif" width="260">
                {% else %}
                    <button 
                        id='btn-create'
                        value="blog/create"
                        type="submit"
                        class="btn btn-success"
                        onclick="document.location.href='{{ url_for('posts.create_post', category=None) }}';">
                            Add post
                    </button>
                {% endif %}
    {% endif %}
		</div>
	</div>
    {% if pages.items|length > 6 %}
    <nav>
    	<ul class="pagination">

    		<li 
    			{% if not pages.has_prev %}
    				class="page-item disabled"
    			{% endif %}
    		>
    			<a class="page-link" href="./?page={{ pages.prev_num }}" tabindex="-1">&#171;<span class="sr-only">(current)</span></a>
    		</li>

    		{% for page in pages.iter_pages() %}

    			{% if page %}
                    <li {% if page == pages.page %} class="page-item active" {% endif %}>

        				<a class="page-link" href="./?page={{ page }}">{{ page }}<span class="sr-only">(current)</span></a>
        				
        			</li>
                {%else %}
                    <li {% if page == pages.page %} class="page-item active" {% endif %}>

                        <a class="page-link" href="#">...<span class="sr-only">(current)</span></a>
                        
                    </li>
                {% endif %}

    		{% endfor %}
    		

    		<li {% if not pages.has_next %}
    				class="page-item disabled"
    			{% endif %}
    		>
    			<a class="page-link" name='bottom' href="./?page={{ pages.next_num }}#bottom">&#187;<span class="sr-only">(current)</span></a>
    		</li>
    	</ul>
    </nav>
    {% endif %}
{% endblock %}