<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="./static/css/style.css" type="text/css"> 
    <style type="text/css" rel="stylesheet" media="all">
      /* Base ------------------------------ */
      body {
        /*width: 100% !important;
        height: 100%;*/
        margin: 0;
        line-height: 1.4;
        background-color: #F5F7F9;
        color: #839197;
        -webkit-text-size-adjust: none;
      }
      a {
        text-decoration: none !important;
      }
      #add-form {
        display: none;
        display: -ms-flexbox;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #969696cc;
        width: 100%;
        padding: 15px;
        z-index: 1;
        position: absolute;
        text-align: center;
        height: 100%;
        text-align-last: center;
      }
      .form-signin {
        display: inline-grid;
        margin-top: 10%;
        padding: 30px;
        border: 4px solid grey;
        background-color: #04020240;
        border-radius: 7px;
      }
      input#name {
        border: none;
        border-radius: 3px;
        margin-bottom: 7px;
      }
      input#short_name {
        border: none;
        border-radius: 3px;
      }
    </style>
    <title>Admin pannel</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function(){
        $("#add-button").click(function(){
          $("#add-form").show(1);
        });
        $("#add-form-close").click(function(){
          $("#add-form").hide(1);
        });
      });

    </script>

  </head>
  <body>
    <div id='add-form'>
      <div>
      
      <form class="form-signin" action='{{ url_for("posts.category_create")}}' method="POST">
        <div>
          <a id='add-form-close' href='#' style='float: right; color: white'>x</a>
        </div>
        {% for field in category_form %}
          {% if field.type != "CSRFTokenField" %}
          <!-- {{ field.label(class='control-label') }} -->   
          {% endif %}
          {{ field(class='model-form-control', autocomplete="off", placeholder=field.id) }}
          {% for error in field.errors %}
          <span class="login-error">{{ error }}</span>
          {% endfor %}
        {% endfor %}
        <div class="btn-group" style="margin-top: 10px; display: block; text-align: center;">
          <button type="submit" class="btn btn-info">create</button>
        </div>
      </form>
      </div>
    </div>
    <div class='container-fluid'>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Admin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav" style='display: none;'>
            <li class="nav-item">
              <a class="nav-link" href="#">Users <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Posts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Categories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Tags</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown link
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">...</a>
                <a class="dropdown-item" href="#">...</a>
                <a class="dropdown-item" href="#">...</a>
              </div>
            </li>
          </ul>
          <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
      <div class='d-lg-flex' style='margin-top: 10px;'>
      {% for dict in data %}
      {% for key in dict %}
        <div class='col shadow p-3 mb-5 bg-white rounded mr-2'>
          <a href='#'>
            <b>{{ key }}</b>
          </a>
          {% if key == 'Categories' %}
            <a id='add-button' href='#' style='float: right;'>+</a>
          {% else %}
            <a id='category_add' href='#' style='float: right;'>+</a>
          {% endif %}
          <hr/>
          <div>
            {% if dict[key].items|length > 0 %}
              {% for i in dict[key].items %}
              <div>
                  {% if key == 'User' %}
                  <a href="{{ url_for('user_profile.get_user_data', slug=i.slug) }}"> {{ i.username }} </a>
                  {% elif key == 'Posts' %}
                  <a href="{{ url_for('posts.post_content', slug=i.slug) }}"> {{ i.title }} </a>                  {% elif key == 'Categories' %}
                  <a href="{{ url_for('posts.category_detail', slug=i.slug) }}"> {{ i.short_name}} : {{ i.name }} </a>
                  {% elif key == 'Tags' %}
                  <a href="{{ url_for('posts.tag_detail', slug=i.slug) }}"> {{ i.name }} </a>
                  {% endif %}
              </div>   
              {% endfor %}
              <!-- {{ dict[key].pages }} -->
              {% if dict[key].pages > 1 %}
                <nav style='justify-content: center;'>
                  <ul class="pagination pagination-sm" style="justify-content: center; margin-top: 0; margin-bottom: 0;">
                    <li 
                    {% if not dict[key].has_prev %}
                    class="page-item disabled"
                    {% endif %}
                    >
                    <a class="page-link" href="./paginate?model={{ key }}page={{ dict[key].prev_num }}" tabindex="-1">&#171;<span class="sr-only">(current)</span></a>
                  </li>
                  {% for page in dict[key].iter_pages() %}
                  {% if page %}
                  <li {% if page == dict[key].page %} class="page-item active" {% endif %}>
                    <a class="page-link" href="./paginate?model={{ key }}&page={{ page }}&q={{ q }}">{{ page }}<span class="sr-only">(current)</span></a>
                  </li>
                  {%else %}
                  <li {% if page == dict[key].page %} class="page-item active" {% endif %}>
                    <a class="page-link" href="#">...<span class="sr-only">(current)</span></a>
                  </li>
                  {% endif %}
                  {% endfor %}
                  <li {% if not dict[key].has_next %}
                  class="page-item disabled"
                  {% endif %}
                  >
                  <a class="page-link" href="./paginate?model={{ key }}&page={{ dict[key].next_num }}">&#187;<span class="sr-only">(current)</span></a>
                    </li>
                  </ul>
                </nav>
                {% endif %}
          {% else %}
            none
          {% endif %}
          </div>
        </div>
        {% endfor %}
        {% endfor %}
      </div>
      </div>
        <!-- <div class='col shadow p-3 mb-5 bg-white rounded mr-2'>
          <a href='#'>
          <b>Posts</b>
          </a>
          <a href='#' style='float: right;'>+</a>
          <hr/>
          <div>first post</div>
        </div>
        <div class='col shadow p-3 mb-5 bg-white rounded mr-2'>
          <a href='#'>
          <b>Category</b>
          </a>
          <a href='#' style='float: right;'>+</a>
          <hr/>
          <div>first category</div>
        </div>
        <div class='col shadow p-3 mb-5 bg-white rounded mr-2'>
          <a href='#'>
          <b>Tags</b>
          </a>
          <a href='#' style='float: right;'>+</a>
          <hr/>
          <div>first tag</div>
        </div> -->
  </body>
</html>