<!DOCTYPE html>
<html lang='en'>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0 no-cache" http-equiv="cache-control">
    <title>

        {% block title %}

        {% endblock %}

    </title>

    {% block seo %}

    {% endblock %}
    
    <link rel="shortcut icon" href="/static/img/brain.svg">

    <link href="/static/scripts/libs/code_highlight/styles/monokai-sublime.css" rel="stylesheet" >
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/static/fonts/free-fa-solid-900.woff2" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet"  type="text/css">

    <script 
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script 
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script 
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <script src="/static/scripts/libs/jQuery.min.js"></script>
    <script src="/static/scripts/libs/fontAwesome.js"></script>
    <script src="/static/scripts/button_to_top.js"></script>
    <script src="/static/scripts/libs/vue.js"></script>
    <script src="/static/scripts/libs/vueUtils.js"></script>
    <script src="/static/scripts/libs/lodash.js"></script>
    <script src='/static/scripts/storage.js'></script>
    <script src="/static/scripts/libs/moment.js"></script>
    <script src='/static/scripts/utils.js'></script>

    {% block scripts %}

    {% endblock %}
    
</head>

<body>
    <div class='center'>
        <div id='base' class="post-header">
            <div id="header_inner">
                <div class='media_search header_search'>
                    <form action="{{ url_for('posts.search', slug=request.args.get('q', ' ')) }}" method="GET">
                        <div class="search-container">
                            <input id="submit_search" type="submit" value=" " class="icon_search">
                            <span style="margin: auto;">
                                <input autocomplete="off" class="q" type="text" name="q" value="{{ q }}"
                                    placeholder="Search" data-autofocus="">
                            </span>
                        </div>

                        <div class="navbar navbar-light profile-button">
                            <button v-if="store.state.isAuth" class="navbar-profile" id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i id='user_button' class="fas fa-user-circle with_user"></i>
                            </button>
                            <button v-else class="navbar-profile" id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" title="anonymous">
                                <i id='user_button' class="fas fa-user without_user"></i>
                            </button>

                            <div class="collapse navbar-collapse drop-menu dropdown-menu" id="navbarTogglerDemo02"
                                aria-labelledby="dropdownMenuButton">
                                <ul class="navbar-nav ">
                                    <li v-if="store.state.isAuth" class="dropdown-item"
                                        style="display: flex; align-items: center; margin: auto;">
                                        <a class="nav-link disable-scale" href=" {{ url_for('posts.index') }}">Blog</a>
                                        <a class="nav-link" style="font-size: 30px; margin-left: auto;"
                                            href="{{ url_for('posts.create_post') }}">&#x270d;</a>
                                    </li>
                                    <li v-else class="dropdown-item">
                                        <a class="nav-link" href=" {{ url_for('posts.index') }}">Blog</a>
                                    </li>

                                    <li v-if="store.state.isAuth" class="dropdown-item">
                                        <a class="nav-link" href="{{ url_for('message.message_index') }}"
                                            title="Profile">Chat</a>
                                    </li>

                                    <li v-if="store.state.isAuth" class="dropdown-item">
                                        <a class="nav-link"
                                            ref="profileLink"
                                            style="cursor: default;"
                                            v-on:click="toProfile"
                                        >Profile</a>
                                    </li>
                                    <li v-if="store.state.isAuth" class="dropdown-item">
                                        <a class="nav-link" style="cursor: default;" v-on:click="logOut">Log out</a>
                                    </li>

                                    <li v-if="!store.state.isAuth" class="dropdown-item">
                                        <a class="nav-link" href="{{ url_for('login.sign_up') }}">Sign up</a>
                                    </li>
                                    <li v-if="!store.state.isAuth" class="dropdown-item">
                                        <a class="nav-link" href="{{ url_for('login.log_in') }}">Login</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {% if categories %}
                        <div class="category-show">
                            <select id="category-value-select"
                                data-url="{{ url_for('posts.category_detail', slug='empty')}}" name="c">
                                {% if c %}
                                <option style='color: #4ea08a;;' value='none'>All category</option>
                                <option selected="selected">{{ c.name }}</option>
                                {% for category in categories %}
                                {% if category.name != c.name %}
                                <option value="{{ category.name }}">{{ category.name }}</option>
                                {% endif %}
                                {% endfor %}
                                {% else %}
                                <option style='color: #4ea08a;;' value='none'>All category</option>
                                {% for category in categories %}
                                <option value="{{ category.name }}">{{ category.name }}</option>
                                {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>


        <div class="post-body">
            <div class="content_title">
                {% block content_title %}
                {% endblock %}
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <div id='alert-msg' class="{{ category }}" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}
            {% endblock %}

        </div>
        {% block logo %}
        
        {% endblock %}
        <div id="toTop"><i class="fas fa-chevron-up"></i></div>
        <br>
    </div>
    <script src="/static/scripts/main.js"></script>
    <script src="/static/scripts/libs/dateFormatter.js"></script>
    <script src="/static/scripts/category_move.js"></script>
    <script src="/static/scripts/containers/base.js"></script>
    <script>
        $("div#alert-msg").fadeOut(4000);
    </script>
</body>

</html>