{% extends 'base.html' %}

{% block title %}
    Create new post
{% endblock %}

{% block content_title %}
    <!-- <h1>New post</h1> -->
{% endblock %}

{% block content %}
    
    <div class='col-md-10'  style="margin-left: auto;
    margin-right: auto; padding-top: 8px; position: inherit;">

        <form method="post">
            {% for field in form %}
                    <div class="form-group">
                        {{ field(class='form-control', autocomplete='off', placeholder=field.id) }}
                        {% if field.lable != 'Category' %}
                            {% for validator in field.validators %}
                                {% if 'min' in validator.__dict__ %}
                                <small 
                                    min={{ validator.min }}
                                    max={{ validator.max }}
                                    id="form_{{ field.label.field_id }}_input_length_display"
                                    class="form-text ml-1"
                                    style="
                                        display: none;
                                        color: grey;
                                        text-align: left !important;
                                    ">
                                        0/{{ validator.min }}
                                    </small>
                                {% endif %}
                            {% endfor %}                    
                        {% endif %}
                        {% for error in field.errors %}
                            <span style="color: red;" id="form_{{ field.label.field_id }}_model_errors">
                                {% if field.id == 'tags' %}
                                    {{ error|safe }}
                                {% else %}
                                    {{ error }}
                                {% endif %}
                            </span>
                        {% endfor %}
                    </div>
            {% endfor %}

            <div class="" style="text-align: center; margin-left: auto; margin-right: auto;">
                <button name="submit" value="create" type="submit" class="btn btn-info">Create</button>
                <button name="submit" value="draft" type="submit" class="btn btn-warning">Draft</button>
                <button type="button" onclick="window.location.href='/blog/';" class="btn btn-secondary">Cancel</button>
            </div>
        </form>
        
    </div>
    <script type="text/javascript" charset="utf-8">
        var CKEDITOR_BASEPATH = '/static/scripts/libs/ckeditor/';
    </script>
    <script src="/static/scripts/libs/ckeditor/ckeditor.js" type="text/javascript" charset="utf-8"></script>
    {{ ckeditor.load() }}
    {{ ckeditor.config(name='body', placeholder='text') }}
    <script src="/static/scripts/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/scripts/validate_form_input_length.js" type="text/javascript" charset="utf-8"></script>

{% endblock %}