{% extends 'base.html' %}

{% block title %}
    Create new post
{% endblock %}

{% block content_title %}
    <div class='col-md-8' style="text-align: center; margin-left: auto;
    margin-right: auto;"><h1>New post</h1></div>
{% endblock %}

{% block content %}
    
    <div class='col-md-10'  style="margin-left: auto;
    margin-right: auto; padding-top: 8px;">

        <form action="" method="POST">
            {% for field in form %}
                <div class="form-group">
                    
                    {{ field(class='form-control', placeholder=field.id) }}
                    {% for error in field.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endfor %}

                <div class="" style="text-align: center; margin-left: auto;
        margin-right: auto;">
                    <button name="submit" value="create" type="submit" class="btn btn-info">Create</button>
                    <button name="submit" value="draft" type="submit" class="btn btn-warning">Draft</button>
                </div>

            
        </form>
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='body', placeholder='text') }}


    </div>

{% endblock %}