<!DOCTYPE html>
<html lang='en'>
  <head>

      <meta name="viewport" content="width=device-width, initial-scale=1.0" charset='UTF-8'>
      <link rel="stylesheet" href="/static/css/style.css" type="text/css"> 

      <title>
        404 - error
      </title>

  </head>
    <body >

      <div class='error-404'>
        <div>
          <i class="error-404-icon"></i>
          <h2>Page not found</h2>
          <h3>return to <a href='/blog'>home</a></h3>
        </div>
      </div>

    </body>
</html>