{% extends 'base.html' %}

{% block title %}

    Index page

{% endblock %}

{% block logo %}
<!--     <div class="logo_on_index" >
    	<div class="logo_knots">
    	    	<a class="knots_title" href='{{ url_for("posts.index")}}' title="Узлы">Knots</a>
    	</div>
        <div class='img-block-bottom'>
            <img class="backgound_img" id="img_1" src="{{ url_for('static', filename='img/background_bottom.jpg')}}">
            <img class="backgound_img" id="img_2" src="{{ url_for('static', filename='img/background_bottom.jpg')}}">
        </div>

    </div> -->

    <div class="logo_on_index" >
        <div class="logo_knots">
            <a class="knots_title" href='{{ url_for("posts.index")}}' title="Узлы">Knots</a>
        </div>
        <div class='img-block-bottom'>
            <img class="backgound_img"src="{{ url_for('static', filename='img/background_bottom.jpg')}}">
        </div>

    </div>
    	
    
    
{% endblock %}

{% block content %}
   
{% endblock %}