{% extends 'base.html' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block content_title %}

{% endblock %}

{% block content %}
		<div class="logo_on_index">
	        <div class="logo_knots">
	            <a class="knots_title" href='{{ url_for("posts.index")}}' title="Узлы">
	                <img src="/static/img/logo.png">
	            </a>
	        </div>
	    </div>
        <div class='container-fluid text-center body_'>
			<form class='form-signin' action="" method="POST">
				{% for field in form %}
					{% if field.type != "CSRFTokenField" %}
						<!-- {{ field.label(class='control-label') }} -->		
					{% endif %}
					{{ field(class='form-control', autocomplete="off", placeholder=field.id) }}
					{% for error in field.errors %}
	           		 	<span class="badge badge-danger">{{ error }}</span>
	           		{% endfor %}
				{% endfor %}
				{% if alert %}
					{% if alert|length < 0 %}
						<div class="new-user-reg">
							New user?<pre> </pre><a class="btn-group" href="{{ url_for('login.sign_up') }}">start here</a>
						</div>
					{% endif %}
				{% else %}
					<div class="new-user-reg">
							New user?<pre> </pre><a class="btn-group" href="{{ url_for('login.sign_up') }}">start here</a>
					</div>
				{% endif %}

	            <button class="btn btn-lg btn-primary btn-block" style='background: rgb(0, 120, 121); border-color: rgb(0, 120, 121);' type="submit">Sign in
	            </button>
	            <p class="mt-5 mb-3 text-muted">© 2019-2020</p>
			</form>
		</div>
{% endblock %}

