{% extends 'index.html' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block data %}
        <div id="login" class='container-fluid text-center body_'>
			<form class='form-signin' @submit="authenticate">
				{% for field in form %}
					{% if field.id == "password" %}
						<div class="input-group">
					{% endif %}
							<input
								name={{field.id}}
								class='form-control'
								placeholder={{field.id}}
								v-model={{field.id}}
								ref={{field.id}}
								v-on:keyup="resetInput"
								autocomplete="off"
							>
					{% if field.id == "password" %}
							<div class="input-group-append">
								<span class="input-group-text passwordEye" id="basic-addon2" style="margin-bottom: 10px;" ref="passwordEye">
									<i class="fas fa-eye" v-if="passwordEyeOpen" ref="passwordEyeOpen" v-on:click="switchPasswordEye"></i>
									<i class="fas fa-eye-slash" v-if="!passwordEyeOpen" ref="passwordEyeClosed" v-on:click="switchPasswordEye"></i>
								</span>
							</div>
						</div>
					{% endif %}
				{% endfor %}
				<span class="badge badge-danger disabled" v-model="error" ref="errors">{ error }</span>
	            <button class="btn btn-lg btn-primary btn-block" style='background: rgb(0, 120, 121); border-color: rgb(0, 120, 121);' type="submit">Sign in
	            </button>
				<div class="new-user-reg">
					<a class="btn-group mr-3" href="{{ url_for('login.sign_up') }}">Sign up</a>
					<a class="btn-group" href="{{ url_for('login.reset_password') }}">Forgot your password?</a>
				</div>
			</form>
		</div>

		<script src='/static/scripts/containers/login.js'></script>
{% endblock %}

