{% extends 'base.html' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block seo %}
    <meta name="description" content="{{ post.preview }}">
    <meta name="keywords" content="{{ tags|map(attribute='name')|join(', ') }}">
    <meta name="author" content="{{ post.author }}">
{% endblock %}

{% block content_title %}
<div class="post-content-title">
        <span><h1 class="post_content_title_h1">{{ post.title }}</h1></span>
        {% if user.username == post.author %}
            <div>
                <a class="far fa-edit" style="font-size: 20px; margin-top: 2px; margin-left: 5px; color: #d5d1ca; text-decoration: none;" href="{{ url_for('posts.edit_post', slug=post.slug) }}" title="Edit post"></a>
                {% if post.visible %}
                    <a class="fas fa-trash-alt" style="font-size: 20px; margin-top: 2px; margin-left: 5px; color: #d5d1ca; text-decoration: none;" href="{{ url_for('posts.delete_post', slug=post.slug) }}" title="Delete post"></a>
                {% endif %}
            </div>
        {% endif %}
</div>
{% endblock %}

{% block content %}
    <div class="tags">
        <div class="post-info">
            <div class="post-title-author">
                <a href="{{ url_for('user_profile.get_user_data', slug=author or 'anonymous')}}">
                    @{{ author }}
                </a>
            </div>
            <div>
                <span class="post-title-sep-dot">&#8901;</span>
            </div>
            <div class="post-title-created">
                {{ time }}
            </div>
        </div>
    </div>
    
    <hr class='content_title_hr'>

    <div class="post-body-content">
        {{ post.body|safe }}
        <div class="end-post-content">. . .</div>
    </div>
    <div class="tag-buttons">
        <h4 style="margin-bottom: 0rem;padding: .0em .2em .0em .0em;">Tags:</h4>
        {% for tag in tags %}
            <a class="tag-button" href="{{ url_for('posts.tag_detail', slug=tag.slug)}}"><span class="tag badge-pill badge-secondary">{{ tag.name }}</span></a>
        {% endfor %}
    </div>
    <hr class='tag-buttons'>
    <br>
    <div class="comments">
        <div>
            <h4>Comments <span style="color: #17a2b8;">{{ comments|length }}</span>:</h4>
        </div>

        <div>
            {% if comments %}
                {% for comment in comments %}
                    <div class="main-content" style="padding-top: 10px; font-size: 20px; position: block; word-wrap: break-word;">
                        <div class="post-comment-author">
                            <img class="user_comment_avatar" src="{{ comment.author.avatar(size=25) }}">
                            <a href="{{ url_for('user_profile.get_user_data', slug=comment.author.username or 'anonymous')}}" >
                                @{{ comment.author.username }}
                            </a>
                            <div class="post-comment-created">
                                {{ comment.created_to_str() }}
                            </div>
                        </div>
                        <div style="font-size: 1.1rem; margin-left: 35px">
                            {{ comment.text }}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <br>

        <div>
            <form action="" method="POST">
                <a name="comments"></a>
                {% for field in form %}
                <div class="form-group">
                    {{ field(class='form-control form-value-comment textarea', placeholder='write comment') }}
                    {% for error in field.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                {% endfor %}
            
                <div class="" style="text-align: left; margin-left: auto;
                margin-right: auto;">
                    <button type="submit" class="btn btn-info">Add comment</button>
                </div>
            </form>
        </div>
    </div>

    <script src="/static/scripts/libs/code_highlight/highlight.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}