{% extends 'base.html' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block content_title %}
	
{% endblock %}

{% block content %}

	<div class='col-md-3 login-box' style="margin: auto;">

		<form style="justify-content: center;" action="" method="POST">
			{% for field in form %}
				<div class="form-group">
					{% if field.type != "CSRFTokenField" %}
						<!-- {{ field.label(class='control-label') }} -->
					{% endif %}
					{{ field(class='login-form-control', placeholder=field.id) }}
					{% for error in field.errors %}
            			<span class="login-error">{{ error }}</span>
            		{% endfor %}
				</div>
			{% endfor %}

			<div class="btn-group" style="padding-top: 15px; display: block; text-align: center;">
		  		<button type="submit" 
		  		href="https://t.me/knots_bot?start" target="_blank" class="btn btn-info">Sign up</button>
			</div>
			
		</form>
	</div>

{% endblock %}

