{% extends 'base.html' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block content_title %}
	
{% endblock %}

{% block content %}


		<div class="logo_on_index" >
        <div class="logo_knots">
            <a class="knots_title" href='{{ url_for("posts.index")}}' title="Узлы">
                <img src="/static/img/logo.png">
            </a>
        </div>
	    </div>

        <div class='container-fluid text-center body_'>
		<form class='form-signin' action="" method="POST">
			{% for field in form %}
				{% if field.type != "CSRFTokenField" %}
					<!-- {{ field.label(class='control-label') }} -->		
				{% endif %}
				{{ field(class='form-control', autocomplete="off", placeholder=field.id) }}
				{% for error in field.errors %}
           			<div class="alert alert-danger" role="alert">
 						{{ error }}
					</div>
           		{% endfor %}
			{% endfor %}
            <button class="btn btn-lg btn-primary btn-registration" style='background: rgb(0, 120, 121); border-color: rgb(0, 120, 121);' type="submit">Create account</button>
            <a class="btn btn-lg btn-primary" style='margin-top: 20px; box-shadow: none; color: #3a3a3a; outline: none; background: rgb(34,223,177); border-color: rgb(34,223,177);' href="{{ url_for('login.log_in') }}" type='button'>Sign up</a>
            <p class="mt-5 mb-3 text-muted">© 2019-2020</p>
		</form>
		</div>

{% endblock %}

