{% extends 'base.html' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block content_title %}
	
{% endblock %}

{% block content %}


		<div class="logo_on_index" >
        <div class="logo_knots">
            <a class="knots_title" href='{{ url_for("posts.index")}}' title="Узлы">
                <img src="/static/img/logo.png">
            </a>
        </div>
	    </div>

        <div class='container-fluid text-center body_'>
		<form class='form-signin' action="" method="POST">
			{% for field in form %}
				{% if field.type != "CSRFTokenField" %}
					<!-- {{ field.label(class='control-label') }} -->		
				{% endif %}
				{{ field(class='form-control', autocomplete='off', placeholder=field.id) }}
				{% for error in field.errors %}
           			<div class="alert alert-danger" role="alert">
 						{{ error }}
					</div>
           		{% endfor %}
			{% endfor %}
            <button class="btn btn-lg btn-primary btn-registration" type="submit">Sign Up</button>
			<div style="margin-top: 5px; font-size: 11px;">
				By signing up you agree to the <a href={{ url_for('login.privacy') }}>Privacy Policy</a>
			</div>
			<div class="new-user-reg">
				<a href="{{ url_for('login.log_in') }}">Sign in</a>
			</div>
            <p class="mt-5 mb-3 text-muted">© 2019-2020</p>
		</form>
		</div>

{% endblock %}

