{% extends 'index.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block data %}

    <!-- <div class="logo_on_index">
        <div class="logo_knots">
            <a class="knots_title" href='{{ url_for("posts.index")}}' title="Узлы">
                <img src="/static/img/logo.png">
            </a>
        </div>
    </div> -->

    <div id="passwordReset" class='container-fluid text-center body_' >
        <form class='form-signin' @submit="submitPasswordReset" ref="passForm">
            <div class='mb-4' style='text-align: left;'>
                <span>Create new password.<span>
                <span class="ml-2 passwordEye" id="basic-addon2" style="margin-bottom: 10px;" ref="passwordEye">
                    <i class="fas fa-eye" v-if="passwordEyeOpen" ref="passwordEyeOpen" v-on:click="switchPasswordEye"></i>
                    <i class="fas fa-eye-slash" v-if="!passwordEyeOpen" ref="passwordEyeClosed" v-on:click="switchPasswordEye"></i>
                </span>
            </div>
            {% for field in form %}
                {% if field.type == "CSRFTokenField" %}
                    {{field(type="hidden", ref="csrf")}}
                {% else %}
                    <input
                        name={{field.id}}
                        class='form-control'
                        autocomplete="off"
                        placeholder={{field.id}}
                        v-model={{field.id}}
                        ref={{field.id}}
                        v-on:keyup="resetInput"
                    >
                {% endif %}
            {% endfor %}
            <span class="badge badge-danger disabled" ref="errors">{ error }</span>
            <button class="btn btn-lg btn-primary btn-block" style='background: rgb(0, 120, 121); border-color: rgb(0, 120, 121);' type="submit">Confirm
            </button>
            <div class="new-user-reg">
                <a class="btn-group mr-3" href="{{ url_for('login.log_in') }}">Sign in</a>
                <a class="btn-group mr-3" href="{{ url_for('login.sign_up') }}">Sign up</a>
            </div>
            {% include "elements/loader.html" %}
        </form>
        <div class="form-signin disabled " role="alert" ref="sentResetEmail">
            <div class="mb-4">
                <span>The password has been successfully changed, please log in to use the application
            </div>
            <button 
                class="btn btn-lg btn-primary mb-4"
                style='background: rgb(0, 120, 121); border-color: rgb(0, 120, 121);'
                v-on:click="redirect_to_login"
            >
                login
            </button>
        </div>
    </div>

    <script src='/static/scripts/containers/passwordReset.js'></script>

{% endblock %}