{% extends 'base.html' %}

{% block title %}
	Edit post
{% endblock %}

{% block content_title %}
	<div class='col-md-8' style="text-align: center; margin-left: auto;
    margin-right: auto;">Edit post</div>
{% endblock %}

{% block content %}
	
	<div class='col-md-8' style="margin-left: auto;
    margin-right: auto;">

		<form action="" method="POST">

			{% for field in form %}
                <div class="form-group">
                    
                    {{ field(class='form-control form-value', placeholder=field.id) }}
                    {% for error in field.errors %}
                    {{ error|safe }}
                    {% endfor %}
                </div>
            {% endfor %}
				
                <div class="" style="text-align: center; margin-left: auto;
        margin-right: auto;">
                    <button type="submit" class="btn btn-info">Save</button>
                </div>

            
        </form>
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='body') }}

	</div>

{% endblock %}